<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>foodtook</string>
	<key>CFBundleName</key>
	<string>foodtook</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ginavigroup.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.478456051663-9mpltnnhosu5um9d8o8lmfu89vdsdtvc</string>
				<string>app-1-478456051663-ios-5aacb96178c31cc62a84ba</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>478456051663-9mpltnnhosu5um9d8o8lmfu89vdsdtvc.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu galería para que puedas seleccionar y subir videos de tus platillos.</string>
	<key>BUNNY_CDN_BASE_URL</key>
	<string>https://foodtook-videos-cdn.b-cdn.net</string>
	<key>BUNNY_STORAGE_ZONE_NAME</key>
	<string>foodtook-videos</string>
	<key>BUNNY_STORAGE_HOST</key>
	<string>br.storage.bunnycdn.com</string>
</dict>
</plist>
